<form method="post" action="/add_submit">
    Enter URL:
    <input type="text" name="url">
    <p></p>
    Enter Title:
    <input type="text" name="title">
    <p></p>
    <button type="submit">Submit</button>
</form>
